html{
    --nav-height: 3rem;
}

*{
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    height: calc(100vh - var(--nav-height));
    margin: 0 auto;
    padding: .5rem 1rem;
    background: rgb(255, 255, 255);
}

#root{
    width: 100%;
    max-width: 500px;
    height: 100vh;

    background: rgb(83, 83, 83);
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--nav-height);
}

nav button{
    display: block;
    height: 100%;
    flex-grow: 1;
}

.tab{
    height: 100%;
    /* overflow-y: scroll; */
}

.tab-title{
    padding: .2rem 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.todo-list{
    padding: .5rem .75rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
    border: 1px solid black;

}

.todo-text{
    font-weight: 600;
    font-size: 1.1rem;
}

.todo-time{
    width: fit-content;
    padding: .2rem .8rem;
    margin-top: .5rem;
    background: rgb(230, 230, 230);
    color: rgb(140, 140, 140);
    border-radius: 100rem;
}