html{
    --nav-height: 3rem;
    --pading-horizontal: 1.25rem;

    --main: rgb(68, 75, 167);
    --main-hover: rgb(47, 51, 121);
    --main-light: rgb(132, 136, 197);
    --white: rgb(255, 255, 255);
    --gray: rgb(128, 128, 128);
}

body{
    width: 100%;
    height: 100%;
    background: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: var(--regular);
    -webkit-text-size-adjust: 100%;
}

*{
    font-family: inherit;
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    height: calc(100vh - var(--nav-height));
    padding: .75rem 0;
    background: var(--white);
}

#root{
    width: 100%;
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;
    background: rgb(83, 83, 83);
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--nav-height);
}

nav button{
    display: block;
    height: 100%;
    flex-grow: 1;
}

.tab{
    height: 100%;
    /* overflow-y: scroll; */
}

.tab-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    padding: 0 var(--pading-horizontal);
    margin-bottom: .75rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.tab-title button{
    margin-left: auto;
    padding: .6rem 1rem;
    border-radius: 100rem;
    background: var(--main);
    color: var(--white);
    font-weight: 500;
    transition-duration: .2s;
}

.tab-title button:hover{
    background: var(--main-hover);

}