@import url(index.css);

.todo-list-scroll{
    height: calc(100% - 2.5rem);
    padding: .5rem var(--pading-horizontal);
    overflow-y: scroll;
}

.todo-list{
    padding: .5rem .75rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.1);
}

.todo-text{
    height: 1.8rem;
    font-weight: 500;
    font-size: 1.05rem;
}

.todo-time{
    width: fit-content;
    padding: .1rem .6rem;
    margin-top: .5rem;
    background: rgb(230, 230, 230);
    color: rgb(140, 140, 140);
    border-radius: 100rem;
}


.todo-add{
    padding: .5rem .75rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.1);
}

.todo-add input{
    width: 100%;
    height: 1.8rem;
    padding: 0 .3rem;
    border-bottom: 2px solid lightgrey;
    transition-duration: .2s;
}

.todo-add input:focus-visible{
    outline: none;
    border-bottom: 2px solid var(--main);
}

.todo-add input.error{
    border-color: red;
}

.todo-add-datetime-wrapper{
    display: flex;
    margin-top: .3rem;
    gap: 1rem;
}

.todo-add-datetime-wrapper input{
    flex-grow: 1;
}

.todo-add-btn-wrapper{
    margin-top: 1rem;
    text-align: right;
}

.todo-add-btn-wrapper button{
    padding: .1rem 1rem;
    margin-left: .5rem;
    border-radius: 100rem;
    color: var(--white);
    font-size: 1rem;
}

#btn-todo-confirm{
    background: var(--main);
}

#btn-todo-cancel{
    background: var(--gray);
}
